<pre>{{ items | json }}</pre>
<!-- container for each slide -->
<div class="slider">
    <!-- the slide itself, can be multiple -->
    <div class="slide" *ngFor="let item of items">
        <!-- right side: image -->
        <div class="slide-bg">
            <img
                class="slide-bg-image"
                [src]="
                    'https://image.tmdb.org/t/p/original' +
                    item.backdrop_path
                "
                alt=""
            />
        </div>
        <!-- left side: movie info -->
        <div class="slide-pane">
            <!-- title -->
            <h2 class="title">{{ item.title }}</h2>
            <!-- rating, review count, year -->
            <div class="meta">
                <div class="info">
                    <span class="rating">
                        <span class="material-symbols-outlined icon">
                            star
                        </span>
                        <span class="rating-value">{{
                            item.vote_average
                        }}</span>
                        <span>/10</span>
                    </span>
                    <span>{{ item.vote_count }} reviews</span>
                    <span>{{ item.release_date | date: "yyyy" }}</span>
                </div>
            </div>
            <!-- short description -->
            <div class="desc mt-6">
                {{ item.overview }}
            </div>
        </div>
    </div>
</div>
